<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Apple Fonts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>iOSFonts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0F3FD3DF1CB815F8002AD7A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F3FD3F71CB815F9002AD7A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F3FD4021CB815F9002AD7A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FCAFDAD1CB6A85E00ED7CBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FCAFDC11CB6A85E00ED7CBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FCAFDCC1CB6A85E00ED7CBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
